{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Календар подій</h1>
<a href="{% url 'calendar_create' %}" class="btn btn-primary info mb-3">
    <i class="ti ti-circle-plus"></i> Додати календар
</a>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for calendar in calendars %}
    <div class="col">
        <div class="card h-100 shadow-sm">
            {% if calendar.image %}
                <img src="{{ calendar.image.url }}" class="card-img-top fixed-img" alt="{{ calendar.name }}">
            {% else %}
                <img src="{% static 'img/no_image.png' %}" class="card-img-top fixed-img" alt="Немає зображення">
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ calendar.name }}</h5>
                <div class="mt-auto d-flex justify-content-between">
                    <a href="{% url 'calendar_detail' calendar.id %}" class="btn btn-outline-primary">Переглянути</a>
                    <a href="{% url 'calendar_delete' calendar.id %}" class="btn btn-outline-danger">Видалити</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col">
        <div class="alert alert-warning text-center w-100">
            Немає календарів для показу.
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}