{% extends "base.html" %}
{% block content %}
<h1>Проекти користувачів</h1>
<a href="{% url 'project-create' %}" class="btn btn-primary mb-2">Додати новий проект</a>

<div class="projects row">
    {% for project in projects %}
        <div class="col-md-4 mb-3 d-flex">
            <div class="card" style="width: 20rem;">
                {% with project.project_images.first as first_image %}
                    {% if first_image %}
                        <img src="{{ first_image.image.url }}" class="card-img-top" alt="Project image">
                    {% endif %}
                {% endwith %}

                <div class="card-body flex-fill d-flex flex-column justify-content-between">
                    <h5 class="card-title">
                        <a href="{% url 'project-detail' project.pk %}">{{ project.title }}</a>
                    </h5>
                    <p class="card-text">Автор: {{ project.user.username }}</p>
                    <p class="card-text">{{ project.desc|truncatewords:20 }}</p>

                    <a href="{% url 'project-detail' project.pk %}" class="btn btn-primary mt-auto">Детальніше</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Проектів поки що немає.</p>
    {% endfor %}
</div>


{% endblock %}
