{% extends 'base.html' %}
{% load static %}

{% block title %}Tests{% endblock %}

{% block content %}
  <h1>Доступні тести</h1>
  <form method="POST" novalidate>
    {% csrf_token %}  
    <a href="{% url 'test/test_create' %}" class="btn btn-secondary">Додати тест</a>
  </form>
  {% for test in tests %}
    <div class="test">
      <h2>{{ test.title }}</h2>
      <p>{{ test.description }}</p>
      <a href="{% url 'test/take_test' test.id %}" class="btn btn-primary">Пройти тест</a>
    </div>
  {% endfor %}
{% endblock %}