{% extends "materialy/base.html" %}
{% load widget_tweaks %}
{% block content %}
  <h3>{% if creating %}Додати{% else %}Редагувати{% endif %} матеріал</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.title.label_tag }} {{ form.title|add_class:"form-control" }}
    </div>
    <div class="mb-3">
      {{ form.description.label_tag }} {{ form.description|add_class:"form-control" }}
    </div>
    <div class="mb-3">
      {{ form.image.label_tag }} {{ form.image }}
    </div>
    <div class="mb-3">
      {{ form.file.label_tag }} {{ form.file }}
    </div>
    <div class="mb-3">
      {{ form.youtube_url.label_tag }} {{ form.youtube_url|add_class:"form-control" }}
      <div class="form-text">Приклад: https://www.youtube.com/watch?v=VIDEOID або https://youtu.be/VIDEOID</div>
    </div>
    <div class="mb-3 form-check">
      {{ form.is_active }} {{ form.is_active.label_tag }}
    </div>
    <button class="btn btn-primary" type="submit">Зберегти</button>
  </form>
{% endblock %}
